.settings-image {
  font-size: 2rem;
  transition: 0.35s ease-in-out;
}

.settings-image:hover,
.settings-image:focus {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.settings-button {
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 0.5rem 0.25rem;
}
