.settingsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  -ms-flex-item-align: center;
  align-self: center;
  z-index: 100;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}
.settingsContainer.hidden {
  opacity: 0;
  visibility: hidden;
}
.settingsContainer.show {
  visibility: visible;
  opacity: 1;
}

.settingsInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 30rem;
  width: 50%;
  padding: 4rem;
  background: #fafafa;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.25rem;

  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.resetButton {
  margin-top: auto;
  border: 0;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.5rem 0;
  color: #ffffff;
  background-color: #c0392b;
  cursor: pointer;
  outline: none;
}

@media (max-width: 600px) {
  .settingsInner {
    width: 75%;
    padding: 2rem 1.25rem;
  }
}
